html, body{
background-color: blanchedalmond;
}


.block-one h1{
    font-family: 'Cabin Condensed', sans-serif;
	font-size: 40px;
	color: darkred;
    margin: auto;
	width: 1024px;
    text-align: center;
	padding-top: 70px
       

}

p1{
    font-family: 'Kanit', sans-serif;
text-align: center;
   
}

.block-two h2{
    padding-top: 40px;
    font-family: 'Neuton', serif;
    color: chocolate;
    text-align: center;
    margin: auto;
    width: 1024px;
    font-size: 40px;
}
p2{
   font-family: 'Questrial', sans-serif;
    text-align: center;
    
    
}


.block-three h3{
    padding-top: 40px;
    font-family: 'Vollkorn', serif;
    text-align: center;
    font-size: 40px;
    color: darkorange;

}
p3{
   font-family: 'Shadows Into Light', cursive;
    text-align: center;
    font-size: 30px;
   
}
